*{
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.root{
  height: 620px;
  width: 620px;
}

.container, .main_container {
  align-items: center;
  display: flex;
}
.main_container {
  flex-direction: column;
}

.horizontal {
  height: 60px;
    width: 480px;
    position: relative;
    left: 70px;
}
.horizontal, .vertical {
  align-items: center;
  background-color: #b8eded;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.vertical {
  height: 500px;
  width: 60px;
}

.main {
  height: 500px;
  width: 500px;
}

.box {
  background-color: #b5dc36;
  height: 50px;
  position: relative;
  width: 50px;
  left: 0px;
    top: 0px;
}
